<template>
  <form ref="picSaveForm">
    <article class="card">
      <section class="card-image">
        <figure class="image is-4by3">
          <img src.bind="src">
        </figure>
      </section>
      <section class="card-content">
        <div class="select ${ isInvalid ? 'is-danger' : picType ? 'is-success' : ''}">
          <select class="select" required value.bind="picType">
            <option value="">Seleccione el Tipo de Foto</option>
            <option value="selfie">Selfie</option>
            <option value="documento">Documento</option>
            <option value="familiar">Familiar</option>
          </select>
        </div>
      </section>
      <footer class="card-footer">
        <a class="card-footer-item" click.delegate="see()">Ver</a>
        <a class="card-footer-item" click.delegate="send(picSaveForm)">Guardar</a>
        <a class="card-footer-item" click.delegate="discard()">Descartar</a>
      </footer>
    </article>
  </form>
</template>