.pic-context-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 40;
  border: 0.5px solid rgb(110, 109, 109);
  border-radius: 3.5px;
  padding: 1em;
}

.pic-context-menu__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 39;
}