<template>
  <div class="modal ${isOpen ? 'is-active' : ''}">
    <div class="modal-background" click.delegate="close()"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <img src.bind="src">
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close" click.delegate="close()"></button>
  </div>
</template>