<template>
  <require from="./pic-context-menu.css"></require>
  <menu class="pic-context-menu ${menuClass}" if.bind="isOpen" style.bind="currentCoordinates">
    <span class="has-text-light" if.bind="title">${title}</span>
    <hr if.bind="title">
    <a class="has-text-light" repeat.for="item of options" click.delegate="callFn(item.action, item.eventData)">
      ${item.label}
    </a>
    <hr>
  </menu>
  <div class="pic-context-menu__background" if.bind="isOpen" click.delegate="close()" contextmenu.delegate="close()">
  </div>
</template>