<template>
  <require from="./camera.css"></require>
  <section class="pic-stream">
    <video ref="source" autoplay></video>
  </section>
  <aside class="pic-controls">
    <div class="field has-addons is-centered">
      <section class="control" click.delegate="takePicture()">
        <button class="button">
          <span class="icon is-small">
            <i class="fas fa-camera"></i>
          </span>
        </button>
      </section>
      <section class="control" if.bind="hasMultipleCameras">
        <button class="button" click.delegate="switchCamera()">
          <span class="icon is-small">
            <i class="fas fa-retweet"></i>
          </span>
        </button>
      </section>
      <section class="control" if.bind="pictures.length > 0">
        <button class="button is-success" click.delegate="goToUpload()">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
        </button>
      </section>
      <section class="control" if.bind="pictures.length > 0">
        <button class="button is-danger" click.delegate="cancel()">
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </section>
    </div>
  </aside>
  <aside class="pic-img-list">
    <figure repeat.for="picture of pictures" class="image is-96x96">
      <img src.bind="picture">
    </figure>
  </aside>
  <canvas ref="drawArea" style="display: none;"></canvas>
</template>