.pic-stream {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pic-controls {
  display: flex;
  justify-content: center;
  position: relative;
  top: -46px;
}

.pic-img-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}