<template>
  <require from="./home.css"></require>
  <section class="hero is-dark is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Bienvenido a Pictorio</h1>
        <h2 class="subtitle">
          La prueba de concepto de algo que en algun momento usare para otra cosa :)
          <br />
          <span class="${inError ? 'has-text-danger' : 'has-text-info'}">${message}</span>
        </h2>
        <a route-href="camera">Ir a tomar fotos</a>
        <section class="pic-saved-pictures">
          <figure data-cursor="pointer" class="image is-128x128" repeat.for="picture of pictures"
            click.delegate="seePicture(picture)" contextmenu.delegate="onContextMenu($event, $index)">
            <img src.bind="picture">
          </figure>
        </section>
      </div>
    </div>
  </section>
  <pic-picture-modal is-open.bind="isShowingPicture" src.bind="currentSrc"
    on-pic-modal-closing.delegate="cleanCurrentPicture()">
  </pic-picture-modal>
  <pic-context-menu></pic-context-menu>
</template>