<template>
  <require from="./pictures.css"></require>
  <section>
    <h1>Elegir Fotos</h1>
  </section>
  <ul class="pic-pic__list">
    <li class="pic-pic__list-item" repeat.for="picture of pictures">
      <pic-save-form src.bind="picture" index="${$index}" on-pic-see.delegate="onPicSee($event)"
        on-pic-send.delegate="onPicSend($event)" on-pic-discard.delegate="onPicDiscard($event)"></pic-save-form>
    </li>
  </ul>
  <pic-picture-modal is-open.bind="isShowingPicture" src.bind="currentSrc"
    on-pic-modal-closing.delegate="cleanCurrentPicture()">
  </pic-picture-modal>
</template>