html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  margin: 0;
  background: #fefefe;
}

.pic-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.pic-app .pic-app__main {
  min-height: 85vh;
}