<template>
  <require from="./app.css"></require>
  <article class="pic-app">
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" route-href="home">Pictorio</a>

        <a role="button" class="navbar-burger burger ${isOpen ? 'is-active' : ''}" click.delegate="toggleMenu()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu ${isOpen ? 'is-active' : ''}">
        <div class="navbar-start">
          <a class="navbar-item ${route.isActive ? 'is-active' : ''}" repeat.for="route of router.navigation"
            route-href.bind="route.name">${route.title}</a>
        </div>
      </div>
    </nav>
    <main class="pic-app__main">
      <router-view></router-view>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          &copy; 2019 Tunaxor Apps.
        </p>
      </div>
    </footer>
  </article>

</template>